* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
  
  body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(182, 226, 231);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .content{
    min-width: 90%;
    margin: 30px;
    padding: 30px;
    background-color: rgb(156, 225, 231);
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgb(87, 151, 189);
  }

  h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
  
  h1 em {
    font-style: unset;
    font-size: 44px;
  }

  h2{
    color: whitesmoke;
    font-size: 24px;
    border-radius: 2rem;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th{
    border: 1px solid rgb(15, 15, 15);
    padding: 5px 10px;
  }
  
  
  button {
    height: fit-content;
    height: 32px;
    background-color: transparent;
    border: 1px solid rgb(190, 215, 238);
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
  
    cursor: pointer;
    border: black;
  }
  
  button:hover{
    box-shadow: 0px 2px 10px rgb(147, 180, 241);
  }
  
  #add_new {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease-in-out;
  }
  
  #add_new:hover {
    transform: scale(1.1);
    background-color: #424242;
  }
  
  #add_new p {
    font-size: 32px;
    color: white;
  }

  .edit{
    height: fit-content;
    height: 32px;
    width: 50px;

    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
 
.excluir{
    height: fit-content;
    height: 32px;
    width: 50px;

    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

  .input-group{
    display: flex;
    flex-direction: column;
  }
  
  .input-group label{
    margin-bottom: 2px;
    font-size: 14px;
  }
  
  .input-group input {
    padding: 6px 8px;
    min-width: 300px;
  
    font-size: 16px;
    border: 1px solid darkgrey;
    border-radius: 4px;
  }
  
  
  .search-form{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
  
    align-items: flex-end;
  }

  .modal-form{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  #form-funcionario{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: rgb(153, 201, 247);
    box-shadow: 0px 0px 20px #000;
  }

  table td{
    background-color: rgb(190, 206, 236);
}

table th{
    background-color: rgb(125, 176, 235);
}

.container-modal{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;

  background-color: #02020299;

}

.container-modal form{
  display: flex;
  flex-direction: column;
  background-color: rgb(153, 201, 247);

  padding: 20px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main{
    color: black;
    background-color: #c991ee;
    border-radius: 2rem;
    margin-right: -140px;
    max-width: 100%;
    width: 70%;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(127, 178, 255);
}

div {
    display: flex;
    width: 100px;
    
}

form,
input {

    margin: 0;
    padding: 0;
    color: #ffffff;
}

 table tr{
     background-color: rgb(202, 182, 229);
 }




.container-form-funcionarios form{
    padding: 20px;

    background-color: #08090B;
    border-radius: 10px;

}
  */
